################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CuallimexManagement/.vs
/CuallimexManagement/bin/Debug/net6.0
/CuallimexManagement/obj
